.footer {
    width: 100%;
    margin: 0px auto -1%;
    background:rgb(238, 238, 238);
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
    text-align: center;
}

.box {
    width: 100%;
    margin: 0px auto -1%;
    background:  #3f51b5;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.footerBox {
    margin: auto;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 17px;
    font-weight: 200;
    color: #ffffff;
}
.add {
    margin-left: 200px;
}
